.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  display: inline-block;
  margin: 0 10px 10px 10px;
  z-index: 1200;
  background-color: #32b000;
  width: 75px;
  color: antiquewhite;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  align-items: center;
}

.nav-item {
  text-align: center;
}

.navlink {
  display: block;
  width: 100%;
}

.leaflet-container {
  height: 100vh;
}

.root {
  display: inline-block;
  position: absolute;
  z-index: 1100;
}

.menu {
  opacity: 0;
  transition: opacity 0.2s;
  display: inline-block;
}

.menu.open {
  opacity: 1;
}

.menu.closed {
  opacity: 0;
}

.App-link {
  color: #61dafb;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
